.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.rectangulo{
  background-color: #343a40;
  box-sizing: border-box;
}

.lista_de_productos{
  text-align: center;
  font-weight: 600;
  font-family: 'Raleway', serif;
  color: white;
  font-weight: normal;
  }

.tablilla{
  background-color: white;
  border: 10px;
  font: serif;
  font-weight: bold;
  font-size: 19px;
}

#data1 img{
  width: 300px;
  height: 200px;
  border: 10px;
  margin: 10px;
  border-radius: 10px;
}

th{
  font: serif;
  font-weight: lighter;
  color: white;
  text-align: center;
  border:5px;
  background-color: #343a40;
}

td{
  font: serif;
  font-weight: lighter;
  text-align: center;
  color: black;
  padding: 30px;
}

tr:nth-of-type(1){
  transition-duration: 0.4s;
}

tr:nth-of-type(1):hover{
  background: linear-gradient(30deg, rgba(253,45,45,1) 0%, rgba(247,216,216,0.46262254901960786) 100%);
}

tr:nth-of-type(2){
  transition-duration: 0.4s;
}

tr:nth-of-type(2):hover{
  background: linear-gradient(30deg, rgba(253,195,45,1) 0%, rgba(246,247,216,0.46262254901960786) 100%);
}

tr:nth-of-type(3){
  transition-duration: 0.4s;
}

tr:nth-of-type(3):hover{
  background: linear-gradient(30deg, rgba(70,253,45,1) 0%, rgba(217,247,216,0.46262254901960786) 100%);
}

tr:nth-of-type(4){
  transition-duration: 0.4s;
}

tr:nth-of-type(4):hover{
  background: linear-gradient(30deg, rgba(45,189,253,1) 0%, rgba(216,240,247,0.46262254901960786) 100%);
}

tr:nth-of-type(5){
  transition-duration: 0.4s;
}

.invalid {
  background-color: rgb(245, 171, 171);
  color: white;
}

#loginform{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 600px;
}

#loginform h4{
  font-size: 210%;
}

#loginidea{
  background: repeating-linear-gradient(45deg, #bae1ff, #bae1ff 100px, #E6D1F2 100px, #E6D1F2 200px, #ffb3ba 200px, #ffb3ba 300px, #ffdfba 300px, #ffdfba 400px, #ffffba 400px, #ffffba 500px, #baffc9 500px, #baffc9 600px); height: 100%;
}

#botón{
  color: darkblue;
  background-color: rgb(196, 196, 250);
}
#botón:hover{
  background-color: rgb(233, 101, 123);
  color: white;
}

.botonfilt{
  background-color: #bae1ff;
}

.botonfilt:hover{
background-color: #E6D1F2;
}